<table border="1">
	<th>Nombre</th>
	<th>Descripción</th>
	<th>N.Likes</th>
	<th>N.Visualizaciones</th>
	<th>N.Descargas</th>
	{% for imagen in imagenes %}
		<tr>
			<td>{{ imagen.getNombre() }}</td>
			<td>{{ imagen.getDescripcion() }}</td>
			<td>{{ imagen.getNumLikes() }}</td>
			<td>{{ imagen.getNumVisualizaciones() }}</td>
			<td>{{ imagen.getNumDownloads() }}</td>
		</tr>
	{% endfor %}
</table>
