<!-- Navigation Bar -->
<nav class="navbar navbar-fixed-top navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand page-scroll" href="#page-top">
				<span>[PHOTO]</span>
			</a>
		</div>
		<div class="collapse navbar-collapse navbar-right" id="menu">
			<ul class="nav navbar-nav">
				{% if app.request.pathinfo=='/index' or app.request.pathinfo=='/' %}
					<li class="active lien">
					{% else %}
						<li class="lien">
						{% endif %}
						<a href="{{ path('app_index') }}">
							<i class="fa fa-windows sr-icons"></i>
							Home</a>
					</li>

					{% if app.request.pathinfo=='/about' %}
						<li class="active lien">
						{% else %}
							<li class="lien">
							{% endif %}
							<a href="{{ path('app_about') }}">
								<i class="fa fa-bookmark sr-icons"></i>
								About</a>
						</li>

						{% if is_granted('IS_AUTHENTICATED') %}
							{% if app.request.pathinfo=='/imagen' %}
								<li class="active lien">
								{% else %}
									<li class="lien">
									{% endif %}
									<a href="{{ path('app_imagen_index') }}">
										<i class="fa fa-photo sr-icons"></i>
										Galeria</a>
								</li>
							{% endif %}

							{% if app.request.pathinfo=='/blog' %}
								<li class="active lien">
								{% else %}
									<li class="lien">
									{% endif %}
									<a href="{{ path('app_blog') }}">
										<i class="fa fa-file-text sr-icons"></i>
										Blog</a>
								</li>

								{% if app.request.pathinfo=='/contact' %}
									<li class="active lien">
									{% else %}
										<li class="lien">
										{% endif %}
										<a href="{{ path('app_contact') }}">
											<i class="fa fa-envelope sr-icons"></i>
											Contact</a>
									</li>

									{% if app.request.pathinfo=='/register' %}
										<li class="active lien">
										{% else %}
											<li class="lien">
											{% endif %}
											<a href="{{ path('app_register') }}">
												<i class="fa fa-user sr-icons"></i>
												Register</a>
										</li>

										{% if is_granted('IS_AUTHENTICATED') %}
											<li class=" lien">
												<a href={{ path('app_logout') }}>
													<i class="fa fa-sign-out sr-icons"></i>
													Logout -
													{{ app.user.username }}</a>
											</li>
										{% else %}
											{% if app.request.pathinfo=='/login' %}
												<li class="active lien">
												{% else %}
													<li class="lien">
													{% endif %}
													<a href={{ path('app_login') }}>
														<i class="fa fa-sign-in sr-icons"></i>
														Login</a>
												</li>
											{% endif %}
											<!-- End of Navigation Bar -->
										</ul>
									</div>
								</div>
							</nav>
